p{

    color: lightcoral;

    font-size: 18px;

    height: 75%;

    width: 400px;

    font-family: 'Abril Fatface', cursive;;

    text-shadow: 4px 4px 4px #aaa;

    }  
h1{
    color: blueviolet;

    font-size: 30px;

    height: 75%;

    width: 400px;

    font-family: 'Abril Fatface', cursive;;

    text-shadow: 4px 4px 4px #aaa;

}